.main {
    margin: 2%;
}
/* navbar starts */
.logo {
    color: black;
    font-size: 30px;
  }
  
  .logo span {
    color:white;
  }
  
  .menu-bar {
   background-color: blue; 
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
  
    position: relative;
  }
  
  .menu-bar ul {
    list-style: none;
    display: flex;
  }
  
  .menu-bar ul li {
    /* width: 120px; */
    padding: 10px 30px;
    /* text-align: center; */
  
    position: relative;
  }
  
  .menu-bar ul li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
  
    transition: all 0.3s;
  }
  
  .menu-bar ul li a:hover {
    color:black;
  }
  
  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }
  
  /* dropdown menu style */
  .dropdown-menu {
    display: none;
  }
  
  .menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    /* top: 100%; */
    color: rgb(19, 7, 188);
    background-color: blue;
  }
  
  .menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
  }
  
  .menu-bar ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
  }
  
  .dropdown-menu-1 {
    display: none;
  }
  
  .dropdown-menu ul li:hover .dropdown-menu-1 {
    display: block;
    position: absolute;
    left: 150px;
    top: 0;
    background-color: blue;
  }
  
  .hero {
    height: calc(15vh - 80px);
    background-image: url(./bg.jpg);
    background-position: center;
  }
  /* nav bar ends */
.card {
    width: 20%;
    display: inline-block;
    box-shadow: 2px 2px 20px black;
    border-radius: 5px;
    margin: 2%;
    color:rgb(220, 240, 247);
    /* background-color: rgb(129, 199, 222); */
        background-color:rgb(54, 54, 246) ;
        /* transition: 0.4rem; */
     

}
.card-group .card .card-img-top{
    width: 100%;
    height:200px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    
}
.card-group .card .card-body .card-title{
    text-align: center;
    padding: 5px;
}

.card-group .card .card-body h3 {
    font-size: 30px;
    color: white;
}


.card-group .card .card-body .card-text{
    padding: 5px;
    text-align: center;
    padding-top: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    color:white;
    font-size: 17px;
}

.card-group .card .card-body button {
    margin-top: 20px;
    margin-bottom: 10px;
    /* background-color:rgb(244, 155, 204)  ; */
    border: 1px solid rgb(56, 15, 203) ;
    border-radius: 5px;
    padding: 10px;
    color:blue;
    background-color: rgb(228, 239, 242);
    align-items: center;
    display: flex;
   
}

.card-group .card .card-body  button:hover {
    background-color: rgb(56, 15, 203);
    color: white;
    transition: .5s;
    cursor: pointer;
}